* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 48px;
  text-align: center;
  border: 1px solid black;
  border-radius: 24px;
  background-color: #e15241;
}

.container h1 {
  margin-bottom: 24px;
}
#timer {
  font-size: 48px;
  margin-bottom: 24px;
  color: white;
}
.buttons button {
  padding: 12px;
  border: 1px solid black;
}
